* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* ::after,
* ::before {
    box-sizing: inherit;
}

/* body {} */

@media (min-width: 1280px) {
    .container {
        width: 100%;
        /* margin-left: auto; */
        /* margin-right: auto; */

        /* width: 1280px; */
        /* height: 500px; */
        background-color: #a6fcf7;
        /* overflow: hidden; */
    }

    .bottom-wrapper {
        padding-left: 55px;
        padding-right: 55px;
        width: 100%;
        height: 600px;
        background-image: url("./images/d-bottom@1x.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top-wrapper {
        padding-left: 55px;
        padding-right: 55px;
        width: 100%;
        height: 200px;
        background-image: url("./images/d-brush@1x.png");
        background-position: top right;
        background-repeat: no-repeat;
    }



}

@media (min-width: 768px) and (max-width: 1279px) {
    .container {

        width: 100%;
        /* margin-left: auto;
        margin-right: auto;
        width: 760px; */
        /* height: 400px; */
        background-color: #a6fcf7;
        /* overflow: hidden; */
    }

    .top-wrapper {
        position: relative;

        padding-left: 73px;
        padding-right: 73px;

        width: 100%;
        height: 28.3vh;
        min-height: 290px;
        background-image: url("./images/d-brush@1x.png");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 30%
    }

    .bottom-wrapper {
        padding-left: 73px;
        padding-right: 73px;


        width: 100%;

        height: 51.3vh;
        min-height: 735px;
        background-image: url("./images/t-bottom@1x.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
    }


}

@media (max-width: 767px) {
    .container {

        /* margin-left: auto;
        margin-right: auto;
        width: 320px; */

        width: 100%;
        /* height: 400px; */
        background-color: #a6fcf7;
        /* overflow: hidden; */
    }

    .top-wrapper {
        position: relative;
        width: 100%;
        height: 90vw;
        min-height: 360px;

        padding-left: 20px;
        padding-right: 20px;

    }

    .bottom-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 159vw;
        min-height: 560px;
        background-image: url("./images/m-bottom@1x.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
    }



}



@media (min-width: 1280px) {
    .subtitle::before {

        position: absolute;
        transform: translateX(-90%);
        content: '';
        width: 465px;
        height: 495px;
        background-image: url("./images/d-girl@1x.png");
        background-position: bottom right;
        background-repeat: no-repeat;

    }

    .subtitle {
        margin-left: 380px;
        position: relative;
    }

    .underline {
        margin-left: 380px;
    }

}

@media (min-width: 768px) and (max-width: 1279px) {

    .subtitle::after {
        position: absolute;

        content: '';

        right:-60px;
        top:14vw;

        width: 52vw;
        height: 49.5vw;
        min-width: 400px;
        min-height: 380px;

        background-image: url("./images/girl@1x-test.png");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .subtitle {
        /* margin-left: 200px; */
        position: relative;
    }

    .underline {
        /* margin-left: 200px; */
    }

}

@media (max-width: 767px) {
    .subtitle::after {
        content: '';

        position: absolute;
        left: 0;

        width: 100vw;
        height: 99vw;
        min-width: 320px;
        min-height: 318px;

        background-image: url("./images/m-top@1x.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .subtitle {
        /* margin-left: 50px; */
        /* position: relative; */
    }

    .underline {
        /* margin-left: 50px; */
    }
}